<div class="row">
  <div class="col-md-5">
    <%= form_for(@post, :html => {:role => 'form'}) do |f| %>

      <%= render partial: 'shared/error_explanation', locals: {object: @post} %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :text %>
        <%= f.text_area :text, :rows => 15, :class => 'form-control' %>
      </div>
      <%= f.submit 'save', :class => 'btn btn-default' %>
      <% if @post.id.presence %>
        <%= link_to 'cancel', post_path(@post), :class => 'btn btn-default' %>
      <% else %>
        <%= link_to 'cancel', posts_path, :class => 'btn btn-default' %>
      <% end %>
    <% end %>
  </div>
</div>
