<div class="container">

  <h1><%= @post.title %></h1>
  <h6>by <%= "#{@post.name} (#{@post.email}) on #{short_datetime_format(@post.created_at)}" %></h6>

  <% if notice.present? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= notice %>
    </div>
  <% end %>

  <%= markdown(@post.text) %>

  <hr/>

  <% if @post.comments.present? %>
    <h2>Comments</h2>

    <% @post.comments.each do |comment| %>
      <blockquote>
        <%= comment.text %>
      </blockquote>
      <h6>by <%= "#{comment.name} (#{comment.email}) on #{short_datetime_format(comment.created_at)}" %></h6>

      <%= link_to 'Delete comment', [@post, comment], method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-default' %>
      <hr/>
    <% end %>

  <% end %>


  <%= link_to 'Add comment', new_post_comment_path(@post), :class => 'btn btn-default' %>
  <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-default' %>
  <%= link_to 'Back', posts_path, :class => 'btn btn-default' %>
</div>
