<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @post.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<hr/>

<% @post.comments.each do |comment| %>

  <p>
    <strong>Name:</strong>
    <%= comment.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= comment.email %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>
  <%= link_to 'Delete comment', [@post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  <hr/>
<% end %>


<%= link_to 'Add comment', new_post_comment_path(@post) %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
